body {
  width: 1600px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d7dbe4;
  margin: 0 auto;
}

header {
  height: 150px;
  background-color: #3086b8;
  text-align: center;
}
div {
  margin-top: 45px;
  padding: 15px;
}
img {
  height: 250px;
  width: 250px;
}
button {
  padding: 20px;
  margin-bottom: 15px;
}

.flexFloat {
  /* display: inline; */
  display: flex;
}
section div {
  /* float: left; */
}











/* 
video, audio, img {
  width: 80%;
  max-height: 80%;
  margin: auto;
} */

/* .media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */












